.header {
  padding: 60px 0 25px;
}

.header__title {
  font-weight: 900;
  font-size: 60px;
  color: #000000;
  margin-bottom: 30px;
  line-height: 120%;
}

.header .text:last-child {
  margin-bottom: 50px;
}

.menu__list {
  margin: 0;
  color: #02535F;
}

.menu__item:not(:last-child) {
  margin-bottom: 10px;
}

.menu__link {
  border-bottom: 1px solid #000;
  cursor: pointer;
}