.indent {
  padding: 25px 0;
}

.indent__wrapper {
  display: flow-root;
  margin-bottom: 30px;
}

.indent__img_left {
  float: left;
  margin-right: 30px;
}

.indent__img_right {
  float: right;
  margin-left: 40px;
}